body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: lightgrey;
}

.container {
    border: solid black 5px;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    background-color: turquoise;
    box-shadow: 2px 6px 8px;
}

@media query {

}

.subjectSelection {
    display: flex;         
    flex-direction: column;     
    align-items: center;       
    margin: 10px;
}

.subject {
    display: flex;         
    flex-direction: row;     
    align-items: center;       
    margin: 10px;
}

.subject-option {
    text-align: center;
    margin: 10px 0;    
    box-shadow: 0 2px 4px;       
}

.question {
    text-align: center;
    border: solid black 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px;
}

.parent {
    border: solid black 5px;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
    grid-column-gap: 10px;    
    grid-row-gap: 10px;    
    background-color: lightpink;  
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }

.hidden {
    display: none;
}

.parent div {
    border: 2px solid black; 
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent div:hover {
    transform: scale(1.05); 
}

.correct {
    border: 2px solid green;
    border-radius: 50%;
    padding: 10px;
}

#quizContainer {
    width: 600px; 
    height: 600px; 
    margin: auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.subject-option {
    border: 2px solid black;
    padding: 15px; 
    margin: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    border-radius: 10px; 
    text-align: center; 
}

.subject-option:hover {
    background-color: lightgray; 
}

.subject-option.selected {
    background-color: lightpink; 
}


a {
    font-size:smaller;
    color: black;
}

a:hover {
    color: blueviolet;
}

a:visited {
    color: black;
}

#startQuiz {
    background-color: pink; 
    color: black; 
    font-size: 24px; 
    padding: 15px 30px; 
    border: solid black 2px; 
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 2px 4px;
}

#startQuiz:hover {
    background-color: magenta;
    transform: scale(1.08); 
}

#nextQuestion {
    background-color: pink; 
    color: black; 
    font-size: 24px; 
    padding: 15px 30px; 
    border: solid black 2px; 
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px;
}

#nextQuestion:hover {
    background-color: magenta;
    transform: scale(1.08); 
}

#restartQuiz {
    background-color: pink; 
    color: black; 
    font-size: 24px; 
    padding: 15px 30px; 
    border: solid black 2px; 
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px;
}

#restartQuiz:hover {
    background-color: magenta;
    transform: scale(1.08); 
}